VITE_BASE_URL=YOUR_BACKEND_PATH

# Application Version
VITE_APP_VERSION=0.0.0

# Legal & Policy Links
VITE_TERMS_URL=https://u-finder.com/terms
VITE_PRIVACY_URL=https://u-finder.com/privacy
VITE_LICENSE_URL=https://github.com/u-finder/u-finder/blob/main/LICENSE